<!DOCTYPE html>
<html>
  <head>
    <title>In a galaxy far far away</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('https://bombadradio.files.wordpress.com/2017/02/star-wars-saga-wallpaper.jpg');">
  <div class="container text-center">
    <h1> Star Wars Lists
    </h1>
    <p> A melhor maneira de arrumar brigas online </p>
  </div>
</div>
    <%= yield %>
  </body>
</html>
